<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpview1.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcpview1.Perspective"
            name="Perspective"
            id="RcpView1.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcpview1.EmpTableViewer"
            id="RcpView.view1"
            inject="true"
            name="Employee Table Viewer"
            restorable="true">
      </view>
      <view
            class="rcpview1.DogShow"
            id="RcpView.view2"
            inject="true"
            name="Dog Show Entry"
            restorable="true">
      </view>
      <view
            class="rcpview1.View"
            id="RcpView.view"
            name="View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="RcpView.view2"
               minimized="false"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="RcpView.view1"
               minimized="false"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="RcpView.view"
               minimized="false"
               ratio="0.5f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New"
                  style="push"
                  tooltip="New">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            <command
                  commandId="RcpView.command"
                  label="say hello"
                  style="push"
                  tooltip="Hello">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  label="New Window"
                  style="push"
                  tooltip="New">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Show view"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="RcpView.toolbar1">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push"
                  tooltip="Exit">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="rcpview1.Hello"
            commandId="RcpView.command"
            helpContextId="Say Hello">
      </handler>
   </extension>

</plugin>
